#welcome {
  background: linear-gradient(to right top, #31b83ac8, #78dd3d);
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
  gap: 2rem;
}

#welcome img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 50%;
  background-color: #ffe1bf;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 4rem;
  margin: 0 0 0 3rem;
  margin-top: 3rem;
  margin-left: 2rem;
  color: black;
  width: 50rem;
}

#welcome p {
  color: black;
  font-size: 1.5rem;
  margin-left: 5rem;
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}