
{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
{% endblock %}


{% block page_title %}
Home
{% endblock %}
{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/ramon.jpeg" %}" alt="Ramon - The author of this blog." />
            <h2>Ramón Peralta Martínez</h2>
        </header>
        <p> Hola, soy Ramón y me apasiona crear software para empresas agropecuarias.</p>
    </section>

    <section id="latest-posts">
        <h2>
            Reflexiones
        </h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>Qué hago:</h2>
        <p>
            Me gusta la programación, la tecnología y el campo. Mi propósito es ayudar en la incorporación tecnológica para empresas del sector junto con objetivos regenerativos.
        </p>
        <p>
            Mi objetivo es crear soluciones digitales a medida para que el productor pueda trabajar de manera mas eficiente.
        </p>

    </section>

{% endblock %}
